<div class="m-user-function-form m-user-function-form--vertical-align-top">

    <div class="cell">

        <div class="wrap">

            <div class="form">

                <h2>Account details</h2>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                    <%= f.password_field :password, autocomplete: "off" %>
                    <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                </div>

                <div class="field">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="field">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                    <%= f.password_field :current_password, autocomplete: "off" %>
                </div>

                <div class="actions">
                    <%= f.submit "Update" %>
                </div>
                <% end %>

                <div class="cancel">

                    <h3>Cancel my account</h3>

                    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                    <!--<%= link_to "Back", :back %>-->

                </div>

            </div>

        </div>

        <div class="wrap">

            <h2>Teams</h2>

            <div class="teams-list">

                <h3>Your teams</h3>

                <% if current_user.user_groups.current.any? %>
                    <ul>
                        <% current_user.user_groups.current.each do |group| %>
                            <li>
                                <%= link_to group.name, user_group_path(group) %>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    <p>
                        You're not a member of any teams.
                    </p>
                <% end %>
              
                <% if current_user.primary_user_group_users_with_pending_requests.any? %>
                    <h3>Invitations received</h3>
                    
                    <% current_user.primary_user_group_users_with_pending_requests.each do |group_user| %>
                        <ul>
                            <li>
                                <%= group_user.user_group.name %>
                                <%= link_to "Approve", approve_request_to_join_user_group_path(group_user), method: :post %>
                                <%= link_to "Reject", reject_request_to_join_user_group_path(group_user), method: :post %>
                            </li>
                        </ul>
                    <% end %>
                <% end %>

            </div>

            <div class="invitations">

                <h3>Your invitations</h3>

                <% if current_user.user_groups.invitations.any? %>
                    <ul>
                        <% current_user.user_group_users.invitations.each do |user_group_user| %>
                            <li>
                                <% if UserGroupPolicy.new(current_user, user_group_user).reject? %>
                                    <%= link_to "Reject", reject_invitation_to_user_group_path(user_group_user), class: "reject-invitation", method: :post %>
                                <% end %>
                                
                                <% if UserGroupPolicy.new(current_user, user_group_user).accept? %>
                                    <%= link_to "Accept", accept_invitation_to_user_group_path(user_group_user), class: "accept-invitation", method: :post %>
                                <% else %>
                                    <%= link_to "Pending", "#" %>
                                <% end %>
                                
                                <span>
                                    <%= user_group_user.user_group.name %>
                                </span>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    <p>
                        No team invites pending.
                    </p>
                <% end %>

            </div>

            <div class="form">

                <h3>Join a team</h3>
  
                <%= form_for (@user_group_user || UserGroupUser.new), url: request_invitation_to_user_groups_path do |form| %>
                    <%= react_component("TeamControl", {teams: []}) %>
                <% end %>

            </div>

            <div class="form">
                <%= form_for UserGroup.new do |form| %>
                    <% errors = session.delete(:user_group_errors).try(:with_indifferent_access) %>
                    <% user_group = session.delete(:user_group).try(:with_indifferent_access) %>
                    <% if errors %>
                        <div id="error_explanation">
                            <h2>Couldn't save team</h2>
                            <ul>
                                <%= errors.map { |attr, msg| content_tag(:li, "#{attr.humanize} #{msg.join(', ')}") }.join.html_safe %>
                            </ul>
                        </div>
                    <% end %>
                    
                    <h3>Create a team</h3>
                    
                    <div class="field <%= errors && errors.has_key?(:name) ? 'field-with-errors' : '' %>">
                        <label>Team name</label>
                        <%= form.text_field :name, value: user_group.try(:[], :name) %>
                    </div>
        
                    <div class="actions">
                        <%= form.submit value: "Create" %>
                    </div>
                <% end %>
            </div>

        </div>

        <div class="wrap"> 

            <div class="notes">

            <h2>Your notes</h2>
                <ul>
                    <% current_user.pins.each do |pin|%>
                    <li>
                        <%= link_to page_path("the-map", anchor: "/pins/#{pin.id}") do %>
                        <h4><%= pin.title %></h4>
                        <p><%= pin.location %></p>
                        <% end %>
                    </li>
                    <% end %>
                </ul>

            </div>

        </div>

    </div>

</div>


