<div class="m-user-function-form m-user-function-form--vertical-align-top">

    <div class="cell">

        <div class="wrap">

            <div class="form">

                <h2>Account details</h2>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
                    <%= f.password_field :password, autocomplete: "off" %>
                    <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                </div>

                <div class="field">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="field">
                    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
                    <%= f.password_field :current_password, autocomplete: "off" %>
                </div>

                <div class="actions">
                    <%= f.submit "Update" %>
                </div>
                <% end %>

                <div class="cancel">

                    <h3>Cancel my account</h3>

                    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                    <!--<%= link_to "Back", :back %>-->

                </div>

            </div>

        </div>

        <div class="wrap">

            <h2>Teams</h2>

            <div class="teams-list">

                <h3>Your teams</h3>

                <ul>
                    <li><a href="#">Friends of Barking Park</a></li>
                    <li><a href="#">University of London</a></li>
                    <li><a href="#">Stoke Newington School</a></li>
                </ul>

            </div>

            <div class="invitations">

                <h3>Your invitations</h3>

                <ul>
                    <li><a href="#">Accept</a><span>Friends of Dagenham Statues</span></li>
                    <li><a href="#">Accept</a><span>Friends of Dagenham Statues</span></li>
                </ul>

            </div>

            <div class="form">

                <h3>Join a team</h3>

                <div class="field">
                    <label>Search for a team</label>
                    <input type="text">
                </div>

                <div class="actions">
                    <input type="submit" value="Request to join">
                </div>

            </div>

            <div class="form">

                <h3>Create a team</h3>

                <div class="field">
                    <label>Team name</label>
                    <input type="text">
                </div>

                <div class="actions">
                    <input type="submit" value="Create">
                </div>

            </div>

        </div>

        <div class="wrap"> 

            <div class="notes">

            <h2>Your notes</h2>
                <ul>
                    <% current_user.pins.each do |pin|%>
                    <li>
                        <%= link_to page_path("the-map", anchor: "/pins/#{pin.id}") do %>
                        <h4><%= pin.title %></h4>
                        <p><%= pin.location %></p>
                        <% end %>
                    </li>
                    <% end %>
                </ul>

            </div>

        </div>

    </div>

</div>


