<div class="m-user-function-form m-user-function-form--vertical-align-top">

    <div class="cell">

        <div class="title">
            <h1><%= @group.name %></h1>
        </div>

        <div class="wrap">

            <div class="collections">

                <h2>Collections</h2>
                
                <% if @group.collections.any? %>
                    <ul>
                        <% @group.collections.each do |group| %>
                            <li>
                                <%= link_to group.name, "/the-map#/collections/#{group.id}" %>
                            </li>
                        <% end %>
                    </ul>
                <% else %>
                    <p>
                        No collections associated with this team.
                    </p>
                <% end %>
                
            </div>

        </div>

        <div class="wrap">

            <h2>Members</h2>

            <div class="members-list">
                <ul>
                    <% @group.user_group_users.current.each do |group_user| %>
                        <li>
                            <%= group_user.user.name %>
                        </li>
                    <% end %>
                </ul>
            </div>

        </div>

        <div class="wrap"> 


            <h2>Actions</h2>

            <div class="form">
                <%= form_tag invite_user_to_user_group_path(params[:id]) do %>
                    <h3>Send an invite</h3>
      
                    <div class="field">
                        <label>Email</label>
                        <%= text_field_tag :email %>
                    </div>
                    
                    <div class="actions">
                        <%= submit_tag "Send invite" %>
                    </div>
                <% end %>
            </div>
          
            <% if UserGroupPolicy.new(current_user, @group).destroy? %>
                <div class="delete-team">
    
                    <h3>Delete this team</h3>
    
                    <p>Ut magna diam, rutrum ut dolor quis, scelerisque dictum magna. Donec lacus dui, egestas vel varius in, dictum sed ante.</p>
                    
                    <%= form_for @group, method: :delete do |form| %>
                        <div class="actions">
                            <input type="submit" value="Delete team">
                        </div>
                    <% end %>
    
                </div>
            <% end %>

        </div>

    </div>

</div>
