<% content_for :template do %>

<div class="m-page-hero">
    <div class="text-content">
        <h1>Blog</h1>
    </div>
</div>

<main class="main--content m-blog-article-detail">

    <div class="back-to-blog">
        <%= link_to "Back to all articles", "/blog", class: "button" %>
    </div>

    <div class="m-content-area">

        <div class="m-blog-article-title">
            <h1><%= post.title %></h1>
        </div>

        <div class="m-blog-article-meta">
            <p>By <%= post.author_name %> | <%= post.date.strftime("#{post.date.day.ordinalize} %B '%y") %></p>
        </div>

        <div class="m-article">
            <%= parse_content(post.fields.content).html_safe %>
        </div>
        
    </div>

</main>

<div class="m-wrap m-wrap--green">
    <% if @latest_articles.any? %>
        <div class="m-blog-highlights">
            <h3>Latest insights from the blog</h3>
                <% @latest_articles.each do |article| %>

                    <h4><%= link_to(article.title, post_path(article.slug)) %></h4>
                    <p><%= article.excerpt %></p>

                <% end %>
            <a class="button" href="/blog">Read more blog posts</a>
        </div>
    <% end %>
    <%= render 'shared/latest_pins' %>
</div>

<% end %>

<%= render template: "layouts/application" %>
