<% content_for :template do %>

<div class="m-page-hero">
    <div class="text-content">
        <h1>Blog</h1>
        <p>

        </p>
    </div>
</div>

<main class="main--content">

    <div class="m-article">
        <div class="m-blog-article-list">
            <ul>
              <% posts.each do |post| %>
                <li>
                  <%= link_to post_path(post.slug) do %>
                    <h3><%= post.title %></h3>
                    <p><%= post.excerpt %></p>
                    <%= link_to "Read more", post_path(post.slug) %>
                  <% end %>
                </li>
              <% end %>
            </ul>
        </div>
    </div>

</main>

<div class="m-wrap m-wrap--green">
    <%= render 'shared/latest_posts' %>
    <%= render 'shared/latest_pins' %>
</div>

<% end %>

<%= render template: "layouts/application" %>
