<% content_for :template do %>
  <%= react_component("MapContainer", data: JSON.parse(@data), prerender: true) %>
<% end %>

<%= content_for :javascript do %>
<script src="http://maps.google.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_api_secret %>"></script>

<script>
    LoL = {}; // FIXME: move to global JS

    LoL.contentTypes = <%= content_types_for_map.to_json.html_safe %>;
    LoL.urls = {};
    LoL.urls.text  = "<%= image_url('audio.png') %>";
    LoL.urls.file  = "<%= image_url('other.png') %>";
    LoL.urls.image = "<%= image_url('image.png') %>";
    LoL.urls.audio = "<%= image_url('audio.png') %>";
    LoL.urls.video = "<%= image_url('other.png') %>";
    LoL.urls.other = "<%= image_url('other.png') %>";

    LoL.secrets = {};
    LoL.secrets.google_maps_api_secret = "<%= Rails.application.secrets.google_maps_api_secret %>";
  </script>

  <div id="map-page-gallery">
  </div>
  <% end %>

  <%= render template: "layouts/map" %>
