<% content_for :template do %>
  <%= react_component("MapContainer", data: JSON.parse(@data), date_filter_range: @filter_date_range, menu: json_menu_for(@main_navigation_menu), account_menu: json_menu_for(@account_menu), prerender: true) %>
<% end %>

<%= content_for :javascript do %>
  <script src="//maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_api_secret %>&libraries=places"></script>

  <script>
    LoL.contentTypes = <%= content_types_for_map.to_json.html_safe %>;
    LoL.urls = {};
    LoL.urls.text    = '<i class="fa fa-file-o"       aria-hidden="true"></i>';
    LoL.urls.file    = '<i class="fa fa-file-o"       aria-hidden="true"></i>';
    LoL.urls.image   = '<i class="fa fa-file-image-o" aria-hidden="true"></i>';
    LoL.urls.audio   = '<i class="fa fa-file-audio-o" aria-hidden="true"></i>';
    LoL.urls.video   = '<i class="fa fa-file-video-o" aria-hidden="true"></i>';
    LoL.urls.other   = '<i class="fa fa-files-o"      aria-hidden="true"></i>';
    LoL.urls.dataset = '<i class="fa fa-table"        aria-hidden="true"></i>';

    LoL.secrets = {};
    LoL.secrets.google_maps_api_secret = "<%= Rails.application.secrets.google_maps_api_secret %>";
  </script>

  <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-start-slideshow="true" style="padding: 20px;">
    <div class="slides"></div>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close" style="display: block">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>

    <!--  additional gallery ui elements -->
    <div class="m-note-metadata">
      <h3 class="title"></h3>
      <p class="description"></p>
      <div class="info"></div>
    </div>
  </div>
  <% end %>

<%= render template: "layouts/map" %>
