<% content_for :template do %>
    <%= react_component("MapContainer") %>
<% end %>

<%= content_for :javascript do %>
  <script>
    LoL = {}; // FIXME: move to global JS
    LoL.urls = {};
    LoL.urls.image = "<%= image_url('image') %>";
    LoL.urls.audio = "<%= image_url('audio') %>";
    LoL.urls.other = "<%= image_url('other') %>";
  </script>

  <div id="map-page-gallery">
  </div>
<% end %>

<%= render template: "layouts/application" %>
