<% content_for :template do %>
<%= react_component("MapContainer") %>
<div class="m-drop-pin-msg">
  <div>
    Click on map to drop pin
  </div>
</div>
<% end %>

<%= content_for :javascript do %>
<script>
    LoL = {}; // FIXME: move to global JS
    LoL.urls = {};
    LoL.urls.image = "<%= image_url('image.png') %>";
    LoL.urls.audio = "<%= image_url('audio.png') %>";
    LoL.urls.other = "<%= image_url('other.png') %>";
  </script>

  <div id="map-page-gallery">
  </div>
  <% end %>

  <%= render template: "layouts/application" %>
