<% content_for :template do %>
  <%= react_component("MapContainer", data: JSON.parse(@data), menu: json_menu_for(Rooftop::Menus::Menu.find(2)), prerender: true) %>
<% end %>

<%= content_for :javascript do %>
  <script src="//maps.googleapis.com/maps/api/js?key=<%= Rails.application.secrets.google_maps_api_secret %>&libraries=places"></script>

  <script>
    LoL = {}; // FIXME: move to global JS

    LoL.contentTypes = <%= content_types_for_map.to_json.html_safe %>;
    LoL.urls = {};
    LoL.urls.text  = "<%= image_url('other.png') %>";
    LoL.urls.file  = "<%= image_url('other.png') %>";
    LoL.urls.image = "<%= image_url('image.png') %>";
    LoL.urls.audio = "<%= image_url('audio.png') %>";
    LoL.urls.video = "<%= image_url('other.png') %>";
    LoL.urls.other = "<%= image_url('other.png') %>";
    LoL.urls.dataset = "<%= image_url('other.png') %>";

    LoL.secrets = {};
    LoL.secrets.google_maps_api_secret = "<%= Rails.application.secrets.google_maps_api_secret %>";
  </script>

  <div id="blueimp-gallery" class="blueimp-gallery" data-start-slideshow="true" style="padding: 20px;">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
  </div>
<% end %>

<%= render template: "layouts/map" %>
