<!DOCTYPE html>
<html>
<head>
    <title>Layers of London</title>
    <% if content_for?(:stylesheet) %>
        <%= yield :stylesheet %>
    <% else %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
<%= render 'global/header'%>

<%= content_for?(:template) ? yield(:template) : yield %>

<%= render 'global/footer' %>

<%= content_for?(:gallery) ? yield(:gallery) : yield %>
<%= content_for?(:javascript) ? yield(:javascript) : yield %>

</body>
</html>
